.sidebar {
  margin-left: 10px;
  width: auto;
  background-color: var(--red);
  height: auto;
  overflow: auto;
  border-radius: 12px;
  /* position: fixed; */
}
.sidebar2 {
  margin-top: 10px;
  margin-left: 10px;
  width: auto;
  background-color: var(--red);
  height: auto;
  overflow: auto;
  padding: 10px;
  border-radius: 12px;
}
.icon a {
  font-size: 24px;
  display: inline-block;
  background: var(--blue);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 30px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: var(--blue);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: var(--blue);
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 95%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  /* .sidebar a {
    float: left;
  } */
  div.content {
    margin-left: 0;
  }
  .sidebar a {
    display: block;
    color: #fff;
    padding: 21px;
    text-decoration: none;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
